In [1]:
import pyspark as ps

In [4]:
spark =(ps.sql.SparkSession.
        builder.
        master('local[4]')
         .appName('lecture').
        getOrCreate())

In [7]:
sc=spark.sparkContext

In [8]:
from pyspark.sql import SQLContext

In [9]:
sqlcontext=SQLContext(sc)

In [10]:
user=sqlcontext.read.json('yelp_dataset/user.json')

In [15]:
user.createOrReplaceTempView("UserView")

In [12]:
user.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [16]:
user_data = spark.sql("select * from UserView")

In [31]:
user_data.show(2)

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|         elite|fans|             friends|funny|  name|review_count|useful|             user_id|      yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
|         4.03|              1|              0|               1|             2|              0|              0|              1|                0|               1|                 0|                2|  25|2015,2016,2017|   5|c78V-rj8NQcQjOI8K...|   17|Rashmi|          95|    84|l6BmjZMeQD3rDxWUb...|2013-10-08 23:11:33|
|         3.63|              1|              0|               1|             1|              0|              0|              0|                0|               0|                 0|                0|  16|              |   4|kEBTgDvFX754S68Fl...|   22| Jenna|          33|    48|4XChL029mKr5hydo7...|2013-02-21 22:29:06|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
only showing top 2 rows

In [35]:
user_data.columns

['average_stars',
 'compliment_cool',
 'compliment_cute',
 'compliment_funny',
 'compliment_hot',
 'compliment_list',
 'compliment_more',
 'compliment_note',
 'compliment_photos',
 'compliment_plain',
 'compliment_profile',
 'compliment_writer',
 'cool',
 'elite',
 'fans',
 'friends',
 'funny',
 'name',
 'review_count',
 'useful',
 'user_id',
 'yelping_since']

In [19]:
business=sqlcontext.read.json('yelp_dataset/business.json')

In [23]:
business.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [20]:
business.createOrReplaceTempView("yelp_business")

In [21]:
business_data = spark.sql("select * from yelp_business")

In [24]:
business_data.show(2)

+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+-------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|       city|               hours|is_open|     latitude|    longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+-------------+--------------------+-----------+------------+-----+-----+
|2818 E Camino Ace...|[,,,,,,,,,,,,,,,,...|1SWheh84yJXfytovI...|   Golf, Active Life|    Phoenix|                null|      0|   33.5221425| -112.0184807|Arizona Biltmore ...|      85016|           5|  3.0|   AZ|
|30 Eglinton Avenue W|[,, u'full_bar', ...|QXAEGFB4oINsVuTFx...|Specialty Food, R...|Mississauga|[9:0-1:0, 9:0-0:0...|      1|43.6054989743|-79.652288909|Emerald Chinese R...|    L5R 3E7|         128|  2.5|   ON|
+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+-------+-------------+-------------+--------------------+-----------+------------+-----+-----+
only showing top 2 rows

In [26]:
review=sqlcontext.read.json('yelp_dataset/review.json')
review.createOrReplaceTempView("yelp_review")
review_data=spark.sql("select * from yelp_review")

In [27]:
review_data.show(2)

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|ujmEBvifdJM6h6RLv...|   0|2013-05-07 04:34:36|    1|Q1sbwvVQXV2734tPg...|  1.0|Total bill for th...|     6|hG7b0MtEbXx5QzbzE...|
|NZnhc2sEQy3RmzKTZ...|   0|2017-01-14 21:30:33|    0|GJXCdrto3ASJOqKeV...|  5.0|I *adore* Travis ...|     0|yXQM5uF2jS6es16SJ...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 2 rows

In [32]:
review.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [34]:
review_user_star = spark.sql("select business_id, user_id, stars from yelp_review")
review_user_star.show()

+--------------------+--------------------+-----+
|         business_id|             user_id|stars|
+--------------------+--------------------+-----+
|ujmEBvifdJM6h6RLv...|hG7b0MtEbXx5QzbzE...|  1.0|
|NZnhc2sEQy3RmzKTZ...|yXQM5uF2jS6es16SJ...|  5.0|
|WTqjgwHlXbSFevF32...|n6-Gk65cPZL6Uz8qR...|  5.0|
|ikCg8xy5JIg_NGPx-...|dacAIZ6fTM6mqwW5u...|  5.0|
|b1b1eb3uo-w561D0Z...|ssoyf2_x0EQMed6fg...|  1.0|
|eU_713ec6fTGNO4Be...|w31MKYsNFMrjhWxxA...|  4.0|
|3fw2X5bZYeW9xCz_z...|jlu4CztcSxrKx56ba...|  3.0|
|zvO-PJCpNk4fgAVUn...|d6xvYpyzcfbF_AZ8v...|  1.0|
|b2jN2mm9Wf3RcrZCg...|sG_h0dIzTKWa3Q6fm...|  2.0|
|oxwGyA17NL6c5t1Et...|nMeCE5-xsdleyxYuN...|  3.0|
|8mIrX_LrOnAqWsB5J...|FIk4lQQu1eTe2EpzQ...|  4.0|
|mRUVMJkUGxrByzMQ2...|-mA3-1mN4JIEkqOtd...|  1.0|
|FxLfqxdYPA6Z85PFK...|GYNnVehQeXjty0xH7...|  4.0|
|LUN6swQYa4xJKaM_U...|bAhqAPoWaZYcyYi7b...|  4.0|
|AakkkTuGZA2KBodKi...|TpyOT5E16YASd7EWj...|  1.0|
|YvrylyuWgbP90RgMq...|NJlxGtouq06hhC7sS...|  5.0|
|NyLYY8q1-H3hfsTwu...|86J5DwcFk4f4In1Vx...|  4.0|
|cHdJXLlKNWixBXpDw...|JSrP-dUmLlwZiI7Dp...|  3.0|
|6lj2BJ4tJeu7db5as...|6Fz_nus_OG4gar721...|  5.0|
|y-Iw6dZflNix4BdwI...|_N7Ndn29bpll_961o...|  3.0|
+--------------------+--------------------+-----+
only showing top 20 rows

In [40]:
sql_buss_user_rev="""SELECT distinct b.business_id,b.name,b.categories,r.useful,r.text,r.stars,r.funny,r.cool,u.user_id,u.name
                               from yelp_business b inner join yelp_review r on r.business_id = b.business_id 
                               inner join UserView as u on u.user_id = r.user_id 
                               where categories like '%India%'"""
business_user_data = spark.sql(sql_buss_user_rev)
business_user_data.show()

+--------------------+--------------------+--------------------+------+--------------------+-----+-----+----+--------------------+--------+
|         business_id|                name|          categories|useful|                text|stars|funny|cool|             user_id|    name|
+--------------------+--------------------+--------------------+------+--------------------+-----+-----+----+--------------------+--------+
|XvuUYiJYAAiNC4Amd...|      Tandoori Grill|Specialty Food, R...|     0|You can never go ...|  5.0|    0|   0|-LFUxu48rLMWmOVN2...| Miranda|
|TfabYPasZ1oOMN6JL...|        India Palace|Herbs & Spices, F...|     0|We stopped for di...|  5.0|    0|   0|-QiFLgn_jBdTFcwka...|     Lee|
|qiZ7t01x0xqqB0RIv...|    The Bombay Grill|Indian, Food, Res...|     0|Relied on ratings...|  4.0|    0|   0|-ZofWirnfYXaa3iCH...| William|
|Mv6ripiINornDXI07...|Villa's Mexican Food|Indian, Food, Mex...|     0|Portions are larg...|  3.0|    1|   1|-dV1Z7attfgdpyNpZ...|    Neal|
|fZGTgKUNKKuOKC2tg...|Bangal Kabab Hous...|Indian, Halal, Re...|     2|So I ordered some...|  1.0|    3|   1|-hnBzgVoRoqLrGVSx...|  Afroza|
|-R2kwt0qMnzwEdAfX...|          Udipi Cafe|Pakistani, Indian...|     0|Excellent idlis, ...|  4.0|    0|   0|-hnBzgVoRoqLrGVSx...|  Afroza|
|0cf-w9PK5gLkBkitL...|        India Garden|Buffets, Indian, ...|     0|The Indian food h...|  4.0|    0|   0|-inp099-1gsJF3KPa...|Samantha|
|yet0Pww_ouW49T7V4...|           The Dhaba|Seafood, Pakistan...|     0|I tried this plac...|  4.0|    0|   0|-inp099-1gsJF3KPa...|Samantha|
|171c2z28JaSYQtWim...|    Indian Bread Bar| Indian, Restaurants|     5|we tried groupon....|  1.0|    0|   0|-xuYnB-HwZIQJVzRX...|    Mimi|
|kEIe_lyBKdFB6Hv_w...|    Curry in the Box|Thai, Restaurants...|     0|The curry tastes ...|  3.0|    0|   0|01HpNrCSLNWbQG9Fv...|   Grace|
|9N7VAcNFqjHptX3vR...|        Earth Indian|Indian, Restauran...|     0|these guys do a p...|  5.0|    1|   0|0LUt7xSvYgLpL0zBe...|   Jovel|
|fp24IseF5LGD1Iev7...|       India's Taste|Restaurants, Indi...|     1|one of the best i...|  5.0|    0|   1|0LUt7xSvYgLpL0zBe...|   Jovel|
|DNSDAtD6uxQkoZkQe...|Curry Leaf Flavor...|Desserts, Food, B...|     0|Definitely my new...|  5.0|    0|   0|0M4x1qpXH1-Ssuepp...|    Most|
|xtYiHTmunjfCN2sUa...|Rio All Suites Ho...|Shopping, Arts & ...|     1|Stayed in Rio ove...|  1.0|    0|   0|0RjC8kvCsmFm0eLi2...|   Shawn|
|iw1WJt3wl6-NquZGK...|        Desi Burrito|Indian, Nightlife...|     0|The food was deli...|  5.0|    0|   0|1Qo3Pw-XRPaaNfpGP...| Heather|
|b4LxjVnFdOCqRKxfw...|Namaste India Garden| Indian, Restaurants|     0|Fried cauliflower...|  5.0|    0|   0|1_JELIFSgGVwz4oZV...|   Joyce|
|CNx_ie_OvjJHZLZ6y...|Mantra Indian Cui...| Indian, Restaurants|     0|I went for lunch ...|  5.0|    0|   0|24EqVhT50cdvqx-Gn...|   Halie|
|wc1q2e5vSTAzDcfUO...|             Sankalp| Indian, Restaurants|     5|We went to Sankal...|  1.0|    2|   0|2P9XvVc75SQUDCYA8...|  Norris|
|Mn6PbumS7GL2v3jPi...|               Tamba|Gluten-Free, Paki...|     0|Escondido en una ...|  4.0|    0|   0|2QCW0fm-mDleaL8KN...|    Atse|
|7BIbvCkI7AXQMVC1-...|Priya Indian Cuisine|Indian, Restauran...|     1|I was passing thr...|  2.0|    0|   0|2SawL1rTPfaj92ph1...|   Vijay|
+--------------------+--------------------+--------------------+------+--------------------+-----+-----+----+--------------------+--------+
only showing top 20 rows

In [41]:
df_business_user_data=business_user_data.toPandas()

In [42]:
df_business_user_data.to_csv("data_recommender/user_buss_star.csv")

In [28]:
tip=sqlcontext.read.json('yelp_dataset/tip.json')
tip.createOrReplaceTempView("yelp_tip")
tip_data=spark.sql("select * from yelp_tip")

In [29]:
tip_data.show(2)

+--------------------+----------------+-------------------+--------------------+--------------------+
|         business_id|compliment_count|               date|                text|             user_id|
+--------------------+----------------+-------------------+--------------------+--------------------+
|VaKXUpmWTTWDKbpJ3...|               0|2014-03-27 03:51:24|Great for watchin...|UPw5DWs_b-e2JRBS-...|
|OPiPeoJiv92rENwbq...|               0|2013-05-25 06:00:56|Happy Hour 2-4 da...|Ocha4kZBHb4JK0lOW...|
+--------------------+----------------+-------------------+--------------------+--------------------+
only showing top 2 rows

In [30]:
checkin=sqlcontext.read.json('yelp_dataset/checkin.json')
checkin.createOrReplaceTempView("yelp_checkin")
checkin_data=spark.sql("select * from yelp_checkin")
checkin_data.show(2)

+--------------------+--------------------+
|         business_id|                date|
+--------------------+--------------------+
|--1UhMGODdWsrMast...|2016-04-26 19:49:...|
|--6MefnULPED_I942...|2011-06-04 18:22:...|
+--------------------+--------------------+
only showing top 2 rows